<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAcJ1zcZw1xOndvlge3KU5NaDLyerEfKvE</string>
	<key>GCM_SENDER_ID</key>
	<string>532960006063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.e8labs.soulmatch</string>
	<key>PROJECT_ID</key>
	<string>soulmatch-3b2ad</string>
	<key>STORAGE_BUCKET</key>
	<string>soulmatch-3b2ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:532960006063:ios:fe180c3c6468241a16e95a</string>
</dict>
</plist>